<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/vue@3.0.7/dist/vue.global.js"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>              
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div id="app">
            <label id="title">[[ title ]]</label>

            <ol id="users">
                <li id="user-1">Alice</li>
                <li id="user-2">Bob</li>
            </ol>
        </div>

        <script>            
            const App = {
                delimiters: [ '[[', ']]' ],
                data() {
                    return {
                        title: 'fetching...'
                    }
                },
                mounted() {
                    fetchData('/data', document).then(async data => {
                        this.title = data.title
                    })
                }
            }
            Vue.createApp(App).mount('#app')  
        </script>

    </body>
</html>